*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    margin-bottom: auto;
}
/*start header*/
.header {
    background: url('../img/back.jpg') no-repeat top center;
    background-size: cover;
    position: relative;
    height: 500px;
}
.header .header-element-style h1{
position: relative;
font-size: 49px;
color: #38ADA9;
top: 161px;
left: 180px;
width: 20%;
}
.header .header-element-style p{color: #29166F;position: relative;top: 118px;left: 241px;width: 15%;font-size: 33px;}
@media (max-width: 600px) { /*small screen*/
    .header .header-element-style h1{
        top: 16px;
        left: 40px;
        width: 92%;
        text-align: center;
        }
    .border{
        top: 317px !important;
        left: 136px !important;

    }
    .header .header-element-style p{
        top: 273px;
        left: 198px;
        width: 59%;
        }
}

/*end header*/

/*start about us*/

.container-about-us {
    padding: 4% 4%;
    /*background-color: #FAFAFA;*/
    width: 68%;
    position: relative;
    left: 16%;
    top: 60px;
}
.container-about-us .about-us .about-text h1{
    text-align: center;
    color: #38ADA9;;
}
.container-about-us .about-us .about-text p{
    color: #948699;
}
/*end about us*/

/*start why us*/
.why-us .container .text h1{
    position: relative;
    top: -15px;
    color: #38ADA9;
}
.why-us{
    position: relative;
    right: 186px;
    width: 157%;
}
.tree-line{
    float: left;
    width: 30.3333%;
    color: #948699;
    display: inline-block;
    margin-left: 3%;
}
span{
    font-weight: bold;
    position: relative;
    right: 21px;
    font-size: 19px;
    color: black;
    margin-right: -17px;
    margin-top: -5px;
}
@media (max-width: 992px) { 
    .tree-line{
        width: 100%;
    }
    .why-us .container .text h1{
        left: 25%;
        width:39%;
        text-align: center;
    }
    .container{
            padding: 0% 14% 14% 4% !important;
            width: 84% !important;
            position: relative !important;
            left: 41% !important;
            top: 130px !important;
        }
    }
@media (min-width: 700px) and (max-width: 1000px){ 
    .container{
        left: 13% !important;
        margin: auto;
    }
}
/*end why us*/

/*Start Mission && vision*/
    .Mi-vi .container-Mi-Vi {
        width:  100%;
        position: relative;
        top: 250px;
    }

    .Mi-vi .container-Mi-Vi .content-Mi-Vi .Mission{
        float: left;
        width: 45%;
    }

    .Mi-vi .container-Mi-Vi .content-Mi-Vi .Vision{
        float: left;
        width: 45%;
    }
    .Mi-vi .container-Mi-Vi p{
        color: #948699;
    }
    .Mi-vi .container-Mi-Vi h1{
        color: #38ADA9;;
    }
    .Mi-vi .container-Mi-Vi .Mission p{
        position: relative;
    }
    .Mi-vi .container-Mi-Vi .Vision p{
        position: relative;
        left: 26%;
    }
    .Mi-vi .container-Mi-Vi .Vision h1{
        position: relative;
        left: 24%;
    }

    @media (max-width: 992px) { 
        .Mi-vi .container-Mi-Vi .content-Mi-Vi .Mission{
            width: 100%;
            position: relative;
            left: 25%;
        }
        .Mi-vi .container-Mi-Vi .content-Mi-Vi .Vision{
            width: 100%;
            position: relative;
            top: 30px;
        }
        .Mi-vi .container-Mi-Vi{
            right: 15%;
        }
        .Mi-vi .container-Mi-Vi h1{
            text-align: center;
        }
    }
/*End Mission && vision*/

/*Start Last paragraphes Mission && vision*/
.last-p{
    position: absolute;
    top: 125%;
}
.last-p .second-p{
    position: absolute;
    top: 340%;
    left: 25%;
}
.last-p .first-p{
    padding-right: 40px;
}
.last-p{
    color:#948699; ;
}

@media (max-width: 992px) { 
    .last-p{
        top : 124%;
        left: 16%;
    }
    .last-p .second-p{
        top : 290%;
        left: 0%;
    }
   
}
@media (max-width: 992px){
    .all{
        height: 4000px !important;
    }
}
/*End Last paragraphes Mission && vision*/

/*strat resoulution*/
@media (max-width: 767px){ /*mobile and tablet*/
    
}

@media (min-width: 768px) and (max-width: 991px){ /*small screen*/
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){ /*medium screen*/
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px){ /*large screen*/
    .container{
        width: 1170px;
    }
}
/*end resoulution*/

/* Start my framwork */
.container{
    padding: 0% 14% 14% 4%;
    width: 84%;
    position: relative;
    left: 11%;
    top: 130px;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
}
.float-l{
    float: left;
}
.responsive-paragraphe{
    line-height: 1.8;
}
.responsive-image{
    width: 100%;
}
.border{
    font-size: 32px;
    color: #29166F;
    border: 2px solid #29166F;
    width: 273px;
    position: relative;
    top: 161px;
    padding: 20px;
    left: 178px;
}

/* end my framwork */
.container .about-us .about-text p{
    float: left;
    width: 50%;
}
.all{
    background-color: #c7bdbd59;
    position: absolute;
    height: 250%;
    right: 8%;
    left: 8%;
    border: 0px solid #c7bdbd59;
    border-radius: 20%;
    top: 100%;
}















.container1{width: 70%;margin: auto;}
 .container-lg{	width: 80%;	margin: auto;}

 /* start header */
 header {
	margin-bottom: 28px;
	font-family: 'Poppins', sans-serif;
}

header .topnav{
	color: #7C7C7C;
	margin-top: 43px;
	position: relative;
	top: -28px;
	font-size: 12px;
}

header .topnav .p2{
	display: flex;
	margin-top: -27px;
	justify-content: flex-end;
	position: relative;
	left: 1%;
	top: 10px;
	font-size: 12px;
}
header .topnav .p2 span{
	color: #38ADA9;
}
hr{margin: -6px;margin-bottom: 10px;}

header .navbar{display: flex;margin-bottom: -20px;z-index: 4;}

 .logo{display: flex;margin-top: 12px;text-decoration: none;}
 .logo h2{color: #38ADA9;font-size: 24px;margin: 0px;margin-top: 7px;font-size: 23px;}

 .logo img{margin-top: -4px;height: 48px;}

                    
                    
header .navbar .menu {margin-top: 0;display: flex;flex:1;justify-content: flex-end;}

header .navbar .menu ul{list-style: none;font-size: 12px;margin-top: 8px;}
header .navbar .menu ul li {display: inline-block;margin-left: 20px;} 

header .navbar .menu ul .active{color: #38ADA9;} 
header .navbar .menu ul li a{text-decoration: none;color: #707070;}
header .navbar .menu ul li.quote{
	border:1px solid #38ADA9;
	background-color: #38ADA9;
	border-radius: 30px;
	padding: 14px 25px;
}

header .navbar .menu ul li.quote a{color: #fff;font-weight: bold;}


.navbar .toggle{display: none;}
.navbar .toggle img{width: 48px;height: 39px;}
/* end header */


/* media */
@media (max-width: 1466px){
	.services .buttondiv {top: 90%;}
	
}
@media (max-width: 1334px){
	.blog1 .p2{font-size: 22px !important;}
	header .navbar .menu ul li {
    margin-left: 8px;
}
}
@media (max-width: 1200px){
	.about{display: block;}
	.team .container h2{margin-left: -12%;}
	.blg .part{width: 44%;}
	.text h1 {font-size: 26px;}
	.text p {width: 100%;font-size: 16px;}
	.text .button {padding: 18px 12px;font-size: 15px;}
	.about .text1 {width: 80%; margin: auto;}
	.blog1 .p2{font-size: 20px !important;}
	.navbar .toggle{
		transition: all .5s ease;
		display: flex;
		z-index: 5;
	    margin-top: 14px;
	    /* float: right; */
	    flex: 1;
	    justify-content: flex-end;
	}
	.navbar .toggle img {width: 44px;height: 34px;}
	.navbar.active {width: 100%}
	.navbar.active .menu{width: 100%;display: block;position: absolute;top: 57px;right: 63px;z-index: 1;}
    .navbar.active .toggle {background: #223047;color: white;height: 0;}

	.navbar .link:hover,
    .navbar .link:active {
        color: #223047;
        background: white;
        border: 1px solid #06B995;
    }
	.navbar .link{
                display: block;
                text-align: center;
                padding: 1em;
                text-decoration: none;
                background: #fff;
                color: #38ADA9;
                margin-left: 3px;
                z-index: 2;
            }
    .navbar .menu .i{border-top: 1px solid #38ADA9;}
    header .navbar .menu ul {
    list-style: none;
    margin-right: -57px;
    margin-top: 50px;}
    header .navbar .menu ul li {display: block;margin-right: -11px;}
    header .navbar .menu ul li.quote {    
     border-radius: 0; 
    padding: 14px 25px;
    text-align: center;}

	header .navbar .menu{display: none;}


	
}
@media (min-width: 501px) and (max-width: 767px){
	.blg .part{width: 80%;}
	.shoose .container .why .us {width: 49%;}
	footer .ftr{flex-direction: column;}
	footer .ftr .footer {/* width: 16%; */width: 100%;margin: auto;text-align: center;}
	footer .ftr .footer .logo{margin-left: 22%;}
	footer .ftr .footer .logo h2{ margin-bottom: 0;}
		.services .buttondiv {top: 94%;}
		.text h1 {font-size: 20px;}
		.text p {width: 100%;font-size: 14px;}
		.text .button {padding: 16px 10px;font-size: 13px;}
		.about .text1 {width: 80%; margin: auto;}
		.about .image {width: 45%;margin-right: 30px;margin: auto;}
		.about .image img {height: 374px;/* margin-bottom: 30px; */}
		header .topnav .p2{display: none;}
		header .topnav .p1{text-align: center;}
		.navbar .toggle{
		display: flex;
	    margin-top: 14px;
	    /* float: right; */
	    flex: 1;
	    justify-content: flex-end;
	    z-index: 5;
	}
     .navbar .toggle img {width: 44px;height: 34px;}
	.navbar.active {width: 100%}
	.navbar.active .menu{width: 100%;display: block;position: absolute;top: 57px;right: 63px;z-index: 1;}
    .navbar.active .toggle {background: #223047;color: white;height: 0;}

	.navbar .link:hover,
            .navbar .link:active {
                color: #223047;
                background: white;
                border: 1px solid #06B995;
            }
	.navbar .link{
                display: block;
                text-align: center;
                padding: 1em;
                text-decoration: none;
                background: #fff;
                color: #38ADA9;
                margin-left: 3px;
                z-index: 2;
            }
    .navbar .menu .i{border-top: 1px solid #38ADA9;}
    header .navbar .menu ul {
    list-style: none;
    margin-right: -57px;
    margin-top: 50px;}
    header .navbar .menu ul li {display: block;margin-right: -11px;}
    header .navbar .menu ul li.quote {
    
     border-radius: 0; 
    padding: 14px 25px;
    text-align: center;
    
}
	header .navbar .menu{display: none;}


.blog1 .p2{font-size: 17px !important;}

}
@media (max-width: 800px){
    footer{
        margin-top: 863% !important;
    }
    footer .ftr .footer{
        width: 75%;
        margin-right: 50px !important;
    }
    footer .ftr  .f1{
        margin-right: 70px;
        margin-left: -5px !important;
        width: 110% !important;
        position: relative;
        top: -20px;
    }
}


@media  (max-width: 500px){
	.blg .part{width: 100%;}
	.shoose .container .why .us {width: 79%;}
	.services .buttondiv {top: 95%;}
	.text h1 {font-size: 16px;}
	.text p {width: 100%;font-size: 12px;}
	.text .button {padding: 12px 7px;font-size: 11px;}
	header .navbar .menu{display: none;}
	.ligne {height: 100px;margin-top: 10px;}
	.ligne .text2 span {margin-right: 10px;	font-size: 14px;}
	.ligne .button {padding: 12px 20px;font-size: 10px;}
	.about .text1{width: 100%;margin-bottom: 20px}
	.about .image img {height: 374px;/* margin-bottom: 30px; */}
	.about .text1 {width: 80%; margin: auto;}
	footer .ftr{flex-direction: column;}
	footer .ftr .footer {width: 125% !important;margin: auto;text-align: center;position: relative;left: -9%;}
	footer .ftr .footer .logo{margin-left: 11%;}
	footer .ftr .footer .logo h2{ margin-bottom: 0;}
	header .topnav .p2{display: none;}
	header .topnav .p1{text-align: center;}
	.navbar .toggle{
		display: flex;
	    margin-top: 14px;
	    /* float: right; */
	    z-index: 5;
	    flex: 1;
	    justify-content: flex-end;
	}
	.navbar .toggle img {width: 44px;height: 34px;}
	.navbar.active {width: 100%}
	.navbar.active .menu{ width: 100%;display: block;position: absolute;top: 80px;right: 63px;z-index: 1;}
    .navbar.active .toggle {background: #223047;color: white;height: 0;}

	.navbar .link:hover,
            .navbar .link:active {
                color: #223047;
                background: white;
                border: 1px solid #06B995;
            }
	.navbar .link{
                display: block;
                text-align: center;
                padding: 1em;
                text-decoration: none;
                background: #fff;
                color: #38ADA9;
                margin-left: 3px;
                z-index: 2;
            }
    .navbar .menu .i{border-top: 1px solid #38ADA9;}
    header .navbar .menu ul {
    list-style: none;
    margin-right: -57px;
    margin-top: 50px;}
    header .navbar .menu ul li {display: block;margin-right: -11px;}
    header .navbar .menu ul li.quote {
    
     border-radius: 0; 
    padding: 14px 25px;
    text-align: center;
    
}

    .container h2 {font-size: 23px;}

	.blog1 .p2{font-size: 14px !important;}
	.team .club .persone {margin-right: 40px;}
	.Testimonials .test .persone p {
	    font-size: 11px;
	    padding-top: 0;
	}
	.Testimonials .button {font-size: 9px;}
	.projects h2 { margin-top: 0px;}
	.projects .project { margin:  0;}
	.blog1{padding: 0;}
	.container{	width: 80%;}
	.services .container h2 {margin: 20px 0;}
	.services .container .Service .type {width: 320px;margin: 0}
	.blog1 .bh2{text-align: center; font-size: 15px;}
	.blog1 p{font-size: 8px !important;}
}

/* media */

/*start footer*/
footer{
    background-color: #FAFAFA;
    margin-top: 140%;
    padding: 40px 0;
    font-size: 12px;
}
footer .ftr{display: flex;justify-content: center;}
footer .ftr .footer{
    width: 75%;
    margin-right: 21px;
}
footer .ftr .footer p{color: #3E3E3E;}
footer .ftr  .f1{
    width: 137%;
    margin-right: 70px;
    margin-left: 8px;
    position: relative;
    top: -20px;
}
footer .ftr  .f1 .logo h2{
    margin-bottom: 0;}
footer .ftr  .f1 p{line-height: 2;margin-bottom: 21px;}
footer .ftr  .f1 p span{color: #000;font-weight: 600;font-size: 16px;position: relative;margin-left: 25px;}
footer .ftr .footer a{text-decoration: none;} 
footer .social{color:#38ADA9;font-size: 14px}
footer .social i{margin-right: 5px;}
/*end footer*/
